* {
	box-sizing: border-box;
}

/* prettier-ignore */
body, div, h2, p{
  margin: 0;
  padding: 0;
}

body {
	background-color: #333;
	color: #fff;
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton {
	width: 50px;
	height: 50px;
	border: 2px solid #deb887;
	border-radius: 50%;
	margin: 10px;
	transition: transform 0.7s ease-out, background-color 0.7s ease-in-out, border-radius 0.7s ease-in-out;
	will-change: transform;
}

.boton:hover {
	transform: scale(2);
	background-color: #d2691e;
	border-radius: 5px;
}
